<h1>List of Aticles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Created date</th>
      <th>Content</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for article <- @aticles do %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.inserted_at %></td>
      <td><%= article.content %></td>

      <td>
        <span><%= link "Show", to: Routes.article_path(@conn, :show, article) %></span>
        <span><%= link "Edit", to: Routes.article_path(@conn, :edit, article) %></span>
        <span><%= link "Delete", to: Routes.article_path(@conn, :delete, article), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Create New Article", to: Routes.article_path(@conn, :new) %></span>
